In [1]:
import pandas as pd

### Curse-detection-data.txt 불러오기

456번 라인에 `|`가 하나 더 있어 판다스로 읽는데 에러가 나, 직접 `|`를 하나 없애주었음

In [8]:
# header가 없는 데이터이므로 header를 만들어 줌
data1 = pd.read_csv("unlabeled_data/Curse-detection-data.txt", sep="|", header=None, names=["content", "hate"])
data1.head()

                                        content  hate
0                                     좌배 까는건 ㅇㅂ     1
1                  집에 롱 패딩만 세 개다. 10년 더 입어야지 ㅋㅋ     0
2   개소리야 니가 빨갱이를 옹호하고 드루킹을 ㅇㅇ짓이라고 말못해서 삐진거야 빨갱아     1
3                                   세탁이라고 봐도 된다     0
4                            애새끼가 초딩도 아니고 ㅋㅋㅋㅋ      1

In [10]:
# 만들어둔 텍스트 전처리 함수로 전처리
from data_preprocess import text_preprocessing


data1["content"] = data1["content"].apply(text_preprocessing)
data1.head()

                                       content  hate
0                                    좌배 까는건 ㅇㅂ     1
1                 집에 롱 패딩만 세 개다. 10년 더 입어야지 ㅋㅋ     0
2  개소리야 니가 빨갱이를 옹호하고 드루킹을 ㅇㅇ짓이라고 말못해서 삐진거야 빨갱아     1
3                                  세탁이라고 봐도 된다     0
4                             애새끼가 초딩도 아니고 ㅋㅋㅋ     1

In [21]:
# 길이가 3보다 작은 행은 드랍

len3idx = data1["content"].str.len() >= 3
len3idx.value_counts()

True     5750
False      75
Name: content, dtype: int64

In [22]:
data1 = data1.loc[len3idx]
data1.shape

(5750, 2)

In [27]:
data2 = pd.read_csv("unlabeled_data/korean-malicious-comments-dataset.csv", sep="\t", header=0, names=["content", "hate"])
data2.head()

                                             content  hate
0  이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...   0.0
1                    씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ   0.0
2                                           짱깨 꺼라ㅡ패쓰   0.0
3  그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...   1.0
4  아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...   1.0

### 일부 데이터에 문제가 있음을 확인하여 직접 수정함

In [38]:
nanidx = data2["hate"].isna() == True
data2.loc[nanidx == True]

                                                content  hate
1602  응애 응애 엄마 저 맘에 안들죠? ........아들 ?? " 너 내가 우스워 보이...   NaN
1654         토니스타크 평소 "아이엠그루트"라는 유행어를 부러워했다는게 학계의 정설\t1   NaN
1992  "13일 현대차에 따르면 올 들어 국내 소비자들의 수입차 구매의향률이 3년 만에 하...   NaN
2920               에이프릴이 한마디 합니다 "예쁜게 죄" 구하라님 "무기징역"\t1   NaN
3172                                        내꺼 넘보지마   1   NaN
3720        답글 글씨체를 봐라 저게 애새끼가 쓴거냐?"빨갱이새끼가 쓴거지 ㅁㅈㅎㅉㅉ\t0   NaN
3807  알겠다이기ㅋㅋ 딱 채찍쳐맞는거 좋아하는 한국식 마인드네. 노예마인드. 조금만 성공한...   NaN
3908         이래서 스스로 걸리거든 "죄인들이"~ㅎㅎㅎ 재미보고 털리고 그치~~~?\t0   NaN
4241  아버지는 내재된 악마들을 다룰 정신적 힘을 가지고 있지 않았다." 이 말한마디가 사...   NaN
4283  댓글 중 "선동 당해서 촞불든 개돼지 홍어들도 단죄를 받아야 할 공범자들이다"에10...   NaN
5000  스파이 제안받고 살해 안당하는 법1. 처음에 스파이 제안을 받았을때 "중국을 위해서...   NaN
5521  "국방부 "까지 ㅡㄱ ㅐ 엿같은 ㅈ ㅣ랄주댕이...좌빨에서 ㅡ인민군대로 ㅡ가려는건가...   NaN
5866  쌩뚱맞게 60대최반엌 치매라니 그것도 곱게 사는 사모님이- -" 알콜중독도 아니고 ...   NaN
6477  페미메퇘지쿵쾅년인 메갈페미들은 니들이 좋아하는 싫어요 ㄱㄱ제발부탁해~~"일반 여성"...   NaN
6538  아니 ㅆㅂ 그런 "카더라"가 넘쳐난다고 그거에 대해서 혹시 댓글게이는 뭔가 아는거 ...   NaN
6771  저 때 투니버스에서 코요태 짧게 인터뷰 했었는데 김종민이 "노래는 뭐 신지가 다 하...   NaN
6932             개 족 가튼 국방부의 "휴기연장콜센터"발족을 축하한다 ㅆ ㅂ..\t0   NaN
7199  민족적 자존심과 애국심을 갖고 국산품 이용합시다 . . . "겸손"한 마음으로 재산...   NaN
7252  아나운서는 목표가 아니었지ㅋㅋ재벌하고 결혼하자마자 바로 은퇴하네ㅋㅋ무슨 인터뷰한 거...   NaN
7270  결국 준영과 다솜은 바람을 피게되고 무인도로 떠난다에 한표 ㅋㅋㅋ 자연인이 되어 "...   NaN
7480  지금 연락하는 여자랑 폰섹 엄청 많이했는데만나서 호텔 들어가서침대에 서로 마주보고 ...   NaN
7499  몽골한테 "최근에" 250년간 지배당하고 집단강간을 당했는데 동양피가 하나도 안섞였...   NaN
7887  뭐 선천적으로 여성스럽거나 여자역할을 하고 싶어하는 동성애자들 그럴 수 있다고는 생...   NaN
9666       ㄹㅇ 시발 그냥 "다른 진로 생각해 보세요"라고만 했어도 욕 안처 먹었지.\t0   NaN
9698                            간만에 이단어가 떠오르는군 "이뭐병"\t0   NaN
9875  노라조 "형"이란 노래로 힘들 때 위로를 받곤 했습니다. 앞으로도 노라조라는 이름으...   NaN

In [60]:
data2 = pd.read_csv("unlabeled_data/korean-malicious-comments-dataset.csv", sep="\t", header=0, names=["content", "hate"])
data2.head()

                                             content  hate
0  이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...     0
1                    씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ     0
2                                           짱깨 꺼라ㅡ패쓰     0
3  그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...     1
4  아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...     1

In [63]:
data2.shape

(10000, 2)

In [61]:
# text_preprocessing 함수로 전처리
data2["content"] = data2["content"].apply(text_preprocessing)
data2.head()

                                             content  hate
0  이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...     0
1                    씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ     0
2                                           짱깨 꺼라ㅡ패쓰     0
3  그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...     1
4  아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...     1

In [62]:
# hate의 레이블이 우리 기준과 반대이므로 반대로 만들어줌
data2["hate"] = data2["hate"].apply(lambda x: x ^ 1)
data2.head()

                                             content  hate
0  이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...     1
1                    씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ     1
2                                           짱깨 꺼라ㅡ패쓰     1
3  그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...     0
4  아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...     0

In [64]:
# 길이가 3보다 작은 행은 드랍

len3idx = data2["content"].str.len() >= 3
len3idx.value_counts()

True     9988
False      12
Name: content, dtype: int64

In [65]:
data2 = data2.loc[len3idx]
data2.shape

(9988, 2)

In [66]:
# 두 데이터를 합쳐줌

merge_data = pd.concat([data1, data2])
merge_data.shape

(15738, 2)

In [69]:
# 저장
merge_data.to_csv("./unlabeled_data/concat_unlabeled_data.csv", index=False)